---
// Sidebar component placeholder
---
<aside>
  <nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/blog">Blog</a>
    <a href="/resources">Resources</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/leads">Leads</a>
  </nav>
</aside>
